@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* background-image: url(https://images.hdqwalls.com/download/super-mario-fr-1920x1080.jpg); */
    /* background-image: url(../img/back.png); */
    background-image: url(https://i.pinimg.com/originals/c6/33/c2/c633c20ede82f0e0ced7d570dbe3a1f3.gif);
    background-attachment: fixed;
    height: 100vh;
}
.dateTime{
    color: white;
    border-radius: 15px;
    width: 500px;
    padding: 20px 10px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 3px solid #ffffff;
    letter-spacing: 2px;
    box-shadow: 10px 10px 3px rgb(21, 21, 21);
    opacity: 97%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.date{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.time{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#btn{
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: cadetblue;
    cursor: pointer;
    border: 3px solid #000000;
    margin-top: 10px;
    margin-left: 10px;
}

#btn:hover{
    background-color: rgb(0, 0, 0);
    color: cadetblue;
}

#hour{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

#minutes{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seconds{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

































/*
body, .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 500px;
    background-image: url(https://images.hdqwalls.com/wallpapers/super-mario-fr.jpg);
    border-radius: 20px;
    flex-direction: column;
    padding: 30px 30px 40px;
}

.wrapper img{
    max-width: 200px;
}

.wrapper h1{
    font-size: 38px;
} */

