@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-attachment: fixed;
    background-image: url(img/minimalist-purple-sky-and-mountain-ex4suuw5xd4funov.jpg);
}

#btn{
    color: black;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(109, 32, 181);
    cursor: pointer;
    border: 3px solid black;
    margin-top: 10px;
    margin-left: 10px;
}

#btn:hover{
    background-color:black;
    color: rgb(109, 32, 181);
    border: 3px solid rgb(109, 32, 181);
}

.container{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
    padding: 10px 20px 20px;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 5px 10px black;
}

.display{
    height: 100px;
    width: 100%;
    outline: none; /* remover a borda quando um elemento está selecionado */
    margin-bottom: 10px;
    border: none;
    text-align: right;
    font-size: 35px;
    color: black;
    pointer-events: none;  /* não deixar o usuário clicar no display*/
    box-shadow: 0 3px 10px black;
    border-radius: 15px;
    background: transparent;
    backdrop-filter: blur(30px);
}

.buttons{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button{
    padding: 10px 10px;
    border-radius: 7px;
    border: none;
    background-color:rgb(109, 32, 181);
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 5px 10px black;
}

.buttons button:hover{
    background-color:rgb(109, 32, 181);
}

.buttons button:active{
    transform: scale(1.05);
}

.operator{
    color: white;
}