*{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    place-items: center;
}
.container{
    height: 50%;
    display: grid;
    place-items: center;
}

.semaforo {
    width: 100px;
    height: 200px;
    border-radius: 30px;
    display: grid;
    place-items: center;
    background-color: #2c3e50;
    padding: 10px;
}
.luz-circular{
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(0,0,0,0.3);
    position: relative;
}
.luz-circular::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-right: 4px solid rgb(255, 255, 255)0.6;
    top: 5%;

}

.stick{
    width: 8px;
    height: 280px;
    background-color: rgb(0, 0, 0,0.5);
}
.floor{
    width: 300px;
    height: 1px;
    background-color: rgb(0, 0, 0,0.5);
    box-shadow: 0 0 10px 1px #a5682a;
}

.red {
    background-color: #c0392b;
    box-shadow: 0 0 10px 1px #c0392b;
}
.yellow {
    background-color: #f1c40f;
    box-shadow: 0 0 10px 1px #f1c40f;
}
.green {
    background-color: #2ecc71;
    box-shadow: 0 0 10px 1px #2ecc71;
}


#btn{
    color: #333;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #2aa5a5;
    cursor: pointer;
    border: 3px solid #333;
}
.botao{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}

#btn:hover{
    background-color:#2aa5a5;
    color: #ffffff;
    border: 3px solid #ffffff;
}

 /* Estilo inicial da div */

 .meuDiv {
    background-color: #2aa5a5;

  }
  .con {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }